<div class="container p-3">
    <a href="/admin/buat-event" type="button" class="btn btn-primary">Buat Event</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nama Event</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <th scope="col">{{dataValues.id}}</th>
                <th scope="col">{{dataValues.nama}}</th>
                <th scope="col">
                    <a href="/event/{{dataValues.id}}/edit" type="button" class="btn btn-warning">Edit</a>
                    <a href="/event/{{dataValues.id}}/delete" type="button" class="btn btn-danger">Hapus</a>
                </th>

            </tr>
            {{/each}}
        </tbody>
    </table>

    
        
    
</div>