<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Bare - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="assets/css/styles.css" rel="stylesheet" />
  <style>
  </style>
</head>

<body class="bg-light">
  <!-- Responsive navbar-->
  <!-- Page content-->
  <div class="container">
    <div class="mt-5">
      <form class="shadow-lg p-3 bg-white" method="POST" action="/login">
        <h1>Login User</h1>

        {{#ifeq success false}}
        <div class="alert alert-danger" role="alert">
          Login gagal
        </div>
        {{/ifeq}}

        <div class="form-group">
          <label for="inputEmail">email</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
            placeholder="Masukan email" name="email">
        </div>

        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword1" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  {{!--
  <script src="js/scripts.js"></script> --}}
</body>

</html>